<div class="ui fixed menu asd borderless" id="navbarSistema">
    <div class="ui grid">
        <a class="item openbtn">
            <i class="icon content"></i>
        </a>
    </div>
    <div class="right menu" id="iconesNavbar">
        <div class="ui grid">
            <a class="item">
                <i class="th icon big" id="system"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a class="item">
                <i class="bell icon big" id="notifications"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a class="item">
                <i class="user icon big" id="informationsUser"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
        </div>
        <div class="ui popup bottom left transition hidden" id="popUpSystem">
            <div class="ui one column relaxed equal height divided grid">
                <div class="column">
                    <ul class="ulGeral" id="system">
                        <li class="liGeral" id="system">
                            <a class="aGeral" id="system">
                                <span>SysReserva</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Pop Up para sistemas -->
        <div class="ui popup bottom left transition hidden" id="popUpNotifications">
            <div class="ui one column relaxed equal height divided grid">
                <div class="column">
                    <div class="ui comments" id="commentsNotifications">
                        <h3 class="ui dividing header">Notificações</h3>
                        <div class="comment">
                            <a class="avatar">
                            </a>
                            <div class="content">
                                <a class="author">Emerson Henrique</a>
                                <div class="metadata">
                                    <span class="date">Hoje as 09:40AM</span>
                                </div>
                                <div class="text">
                                    Termo de compromisso de estágio disponível para download
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Pop Up para sistemas -->
        <div class="ui popup bottom left transition hidden" id="popUpInformationUser">
            <div class="ui one column relaxed equal height divided grid">
                <div class="column">
                    <div class="ui cards">
                        <div class="card"  id="cardUser">
                            <div class="content">
                                <img class="right floated mini ui image" src="img/matt.jpg">
                                <div class="header">
                                </div>
                                <div class="meta">
                                    Administrador
                                </div>
                                <div class="description">
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <div class="ui basic green button">Conta</div>
                                    <div class="ui basic red button" >Sair</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>